<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8"/>
		<title>Our Menu</title>

		<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" />

		<link href="style.css" rel="stylesheet" />

		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
	</head>


	<body ng-app>
	   <form>
               <h1>First American Investment Company</h1>
<br />		<p> Where you and your buisness need always come first.</p>


		<nav class="{{active}}" ng-click="$event.preventDefault()">


			<a href="#" class="home" ng-click="active='home'">Home</a>
			<a href="#" class="projects" ng-click="active='projects'">Projects</a>
			<a href="#" class="services" ng-click="active='services'">Services</a>
			<a href="#" class="contact" ng-click="active='contact us'">Contact Us</a>
 		       <a href="#" class="blog" ng-click="active='blog'">Blog</a>
		</nav>


		<!--p ng-hide="active">Please click a menu item</p-->
		<p ng-show="active"> Connecting with Our  <b>{{active}}</b> page .....</p>
<br /> <br />
<br /> <br />
		<p>Follow us on:</p>
		<!--nav class="{{active1}}" ng-click="$event.preventDefault()"-->


                        <a href="#" class="facebook" ng-click="active1='FB'">Facebook</a>
                        <a href="#" class="google" ng-click="active1='GO+'">Google+</a>
                        <a href="#" class="twitter" ng-click="active1='TW'">Twitter</a>
                        <a href="#" class="youtube" ng-click="active1='YT'">Youtube</a>
                       <a href="#" class="Yelp" ng-click="active1='YE'">Yelp</a>
                <!--/nav-->
		<br /> <br />
		<br /><br />

		<p> All material are copyrighted. All rights reserved.</p>
              </form>
                <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

	</body>
</html>
